*.aar filter=lfs diff=lfs merge=lfs -text
app/libs/SenseCryptSdkOnlineCore-release.aar filter=lfs diff=lfs merge=lfs -text
app/libs/SenseCryptSdkOfflineCore-release.aar filter=lfs diff=lfs merge=lfs -text
app/libs/*.aar filter=lfs diff=lfs merge=lfs -text
